.contact-grid {
    display: grid;
    grid-template-rows: .2fr auto;
    grid-template-columns: 60% 40%;
    min-height: 100vh;    
    grid-template-areas: 
    "logo design"
    "sectionOne sectionTwo"
    ;
}

.sectionOne {
    grid-area: sectionOne;
    height: auto;
    display: grid;
    grid-template-rows: repeat(2, 2fr);
    grid-template-areas: 
    "partOne"
    "partTwo"
    ;
}

.sectionTwo {
    height: auto;
    grid-area: sectionTwo;
    justify-self: start;
}

.partOne {
    height: auto;
    grid-area: partOne;
    justify-self: center;
    align-self: center;
}

.summary2 {
    height: 200px;
    padding-left: 20px;
}

.partTwo {
    height: auto;
    margin-top: 50px;
    grid-area: partTwo;
    display: grid;
    justify-self: center;
    align-self: end;
    grid-template-rows: auto;
    grid-template-areas: 
    "intro-title"
    "insta"
    "mail"
    "lkn"
    ;
}

.intro-title {
    grid-area: intro-title;
    font-size: xx-large;
}

.insta {
    height: auto;
    grid-area: insta;
    display: grid;
    grid-template-columns: 20% 80%;
    font-size: xx-large;
    gap: 5px;
}

.mail {
    height: auto;
    grid-area: mail;
    display: grid;
    grid-template-columns: 20% 80%;
    font-size: xx-large;
    gap: 5px;
}

.linkedIn {
    height: auto;
    grid-area: lkn;
    display: grid;
    grid-template-columns: 20% 80%;
    font-size: xx-large;
    gap: 5px;
}

@media only screen and (max-height: 700px) {
    .partTwo {
        margin-top: 0;
    }
    .avatar4 {
        height: 400px;
        width: 400px;
    }
}

@media only screen and (max-width: 550px) {
    body {
        overflow: scroll;
    }
    .contact-grid {
        overflow-y: auto;
        grid-template-rows: auto;
        grid-template-columns: 100%;
        grid-template-areas: 
        "topBar"
        "sectionOne"
        "sectionTwo"
        ;
        margin-bottom: 200px;
    }
    .sectionOne {
        grid-template-areas: 
        "partOne"
        "partTwo"
        ;
    }
    .partTwo {
        margin-top: 0;
    }
}

@media only screen and (max-width: 340px) {
    body {
        overflow: scroll;
    }
    .insta, .linkedIn, .mail {
        grid-template-columns: 20% 80%;
        font-size: x-large;
        gap: 0;
    }
    .insta-icon, .linkedIn-icon, .mail-icon {
        width: 30px;
        height: 30px;
        margin-top: 5px;
    }
}