.skills-container {
    display: grid;
    min-height: 100vh;
    grid-template-rows: .5fr 2.5fr .3fr;
    grid-template-columns: 50% 50%;
    grid-template-areas: 
      "logo design"
      "skillSet rightSide"
    ;
}

.logo {
    grid-area: logo;
    height: 130px;
    justify-self: start;
    align-self: start;
}

.design {
    grid-area: design;
    transform: rotate(180deg);
}

.min-logo {
    height: 0px;
}

.min-design {
    display: none;
}

.skillSetBase {
    grid-area: skillSet;
    display: grid;
    grid-template-rows: 0fr;
    align-self: center;
    justify-self: center;
    gap: 10px;
    width: 300px;
    height: 530px;
    background: #ffffff27;
    border: 0.1px solid rgba(0, 0, 0, 0.24);
    box-sizing: border-box;
    border-radius: 16px;
    box-shadow: 9px 9px 16px rgb(163,177,198, 0.6), -9px -9px 16px  rgba(255,255,255, 0.5);
    grid-template-areas: 
    "title"
    "item-1-container"
    "item-2-container"
    "item-3-container"
    "item-4-container"
    "item-5-container"
    "item-6-container"
    "item-7-container"
    ;
}

.item-1-container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: 
    "img-1 item-1"
    ;
}
.item-2-container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: 
    "img-2 item-2"
    ;
}
.item-3-container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: 
    "img-3 item-3"
    ;
}
.item-4-container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: 
    "img-4 item-4"
    ;
}
.item-5-container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: 
    "img-5 item-5"
    ;
}
.item-6-container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: 
    "img-6 item-6"
    ;
}
.item-7-container {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: 
    "img-7 item-7"
    ;
    margin-bottom: 15px;
}

.header-title {
    grid-area: title;
    font-size: x-large;
    color: rgba(0, 0, 0, 0.808);
    padding: 18px;
    padding-top: 10px;
    padding-bottom: 0px;
    margin-bottom: 0px;
}

.item-img {
    width: 40px;
    height: 40px;
    justify-self: end;
}

.item-text {
    font-size: x-large;
    color: #000;
    padding-top: 5px;
    padding-left: 10px;
    justify-self: start;
}

.item-1 {
    grid-area: item-1;
}

.img-1 {
    grid-area: img-1;

}

.item-2 {
    grid-area: item-2;
}

.img-2 {
    grid-area: img-2;
}
.item-2 {
    grid-area: item-2;
}

.img-2 {
    grid-area: img-2;
    width: 45px;
    height: 50px;
}

.item-3 {
    grid-area: item-3;
}

.img-3 {
    grid-area: img-3;
}

.item-4 {
    grid-area: item-4;
}

.img-4 {
    grid-area: img-4;
    width: 40px;
    height: 40px;
}

.item-5 {
    grid-area: item-5;
}

.img-5 {
    grid-area: img-5;
}

.item-6 {
    grid-area: item-6;
}

.img-6 {
    grid-area: img-6;
}

.item-7 {
    grid-area: item-7;
}

.img-7 {
    grid-area: img-7;
}

.skillSet {
    height: 100%;
}

.rightSide {
    grid-area: rightSide;
    display: grid;
    grid-template-rows: 33.3% 33.3% 33.3%;
    grid-template-areas: 
    "base"
    "base"
    "wb"
    ;
}

.base {
    grid-area: base;
    display: grid;
    grid-template-areas: 
    "avatar"
    "summary"
    ;
}

.avatar2 {
    grid-area: avatar;
    height: 200px;
    align-self: end;
}

.summary1 {
    grid-area: summary;
    height: 200px;
    padding-left: 20px;
}

.workPageBtnBase {
    grid-area: wb;
    height: 0;
    margin: 1rem;
    justify-self: center;
    align-self: center;
}

.workPageBtn {
    width: 280px;
    height: 50px;
    background: linear-gradient(90deg, #43F254 0%, rgba(58, 241, 77, 0.750602) 56.5%, rgba(58, 237, 76, 0.54) 105.32%);
    border-radius: 140px;
    font-size: 30px;
}

@media only screen and (max-height: 700px) {
    .skillSetBase {
        align-self: start;
        height: auto;
    }
    .base {
        justify-self: center;
    }
    .avatar2 {
        height: 150px;
    }
    .summary1 {
        height: 150px;
    }
}

@media only screen and (max-width: 768px) {
    .base {
        grid-template-rows: 50% 50%;
    }
    .avatar2 {
        height: 100px;
    }
    .summary1 {
        height: 150px;
    }
    .workPageBtnBase {
        align-self: start;
    }
}

@media only screen and (max-width: 550px) {
    body {
        overflow: scroll;
    }
    .skills-container {
        overflow-y: auto;
        grid-template-rows: repeat(4, 1fr);
        grid-template-columns: 100%;
        grid-template-areas: 
        "topBar"
        "skillSet"
        "rightSide"
        "wb"
        ;
    }
    .topBar {
        display: grid;
        grid-area: topBar;
        grid-template-columns: 30% 70%;
        grid-template-areas: "min-logo min-design";
    }
    .logo {
        width: 0px;
        height: 0px;
    }
    .design1 {
        display: none;
    }
    .min-logo {
        display: block;
        grid-area: min-logo;
        height: 100px;
        margin-bottom: 30px;
    }
    .min-design {
        display: block;
        grid-area: min-design;
        transform: rotate(180deg);
    }
    .skillSetBase {
        justify-self: center;
        align-self: start;
    }
    .avatar2 {
        height: 130px;
        justify-self: center;
    }
    .summary1 {
        align-self: start;
        justify-self: center;
        height: 130px;
        width: 300px;
    }
    .workPageBtnBase {
        justify-self: center;
        align-self: end;
        margin-top: 50px;
        margin-bottom: 200px;
    }
    .workPageBtn {
        padding-top: 5px;
        width: 240px;
        font-size: 25px;
        text-align: center;
    }
}