/* @import url('https://fonts.googleapis.com/css2?family=Caveat&display=swap'); */

* {
    margin: '0px';
    padding: '0px';
}

html,
body,
div,
:root {
  height: 100%;
  scrollbar-width: none;
}

body {
    font-family: 'Caveat';
    color: rgba(0, 0, 0, 0.87);
}

a, a:hover, a:focus {
    color: rgba(0, 0, 0, 0.87);
    text-decoration: none;
}

.img-thumbnail {
    background-color: transparent;
    border: 0;
    border-radius: 0;
    padding: 0;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
}