@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
  font-family: 'Abel', sans-serif;
}

.coverflow__container__1P-xE {
  background: transparent;
}

.p {
  position: absolute;
  margin-top: 180px;
  font-size: 30px;
  margin-left: 500px;
}

.coverflow__text__39hqd {
  display: none;
}

.coverflow__figure__3bk_C, .coverflow__cover__25-7e, .coverflow__figure__3bk_C {
  box-shadow: none;
  -webkit-box-reflect: unset;
}

.coverflow__figure__3bk_C {
  min-width: 0;
}

.img-thumbnail {
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

.s2 {
  display: flex;
  flex-wrap: wrap;
}

.designTop {
  position: fixed;;
  right: 0px;
  top: -50px;
  transform: rotate(180deg)
}

.designBottom {
  position: fixed;
  left: 0;
  bottom: -40px;
}

.canvas-overlap {
  display: flex;
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  color: #111111;
}

.typewriter {
  font-size: 50px;
  justify-content: center;
  align-items: center;
}

.avatar {
  display: flex;
  align-items: center;
  padding-bottom: 110px;
  flex-wrap: wrap;
}

.downIcon {
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 8px;
}

.message {
  font-size: 25px;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 80px;
}

.particle-canvas {
  font-size: 50px;
}

.img {
  width: 300px;
  height: 300px;
}

.summary {
  width: 600px;
  height: 180px;
}

.slide-3-list-proj {
  display: none;
}

.launch {
  position: fixed;
  border-radius: 20px;
  background: #0dd95a;
  margin-left: 115px;
  color: white;
  padding: 2px;
  font-size: 17px
}

.slide-4-final {
  margin-left: 300px;
}

@media (max-width: 768px){
  .img {
    width: 0;
    height: 0;
  }
  .design {
    width: 0;
    height: 0;
  }
  .typewriter {
    font-size: 30px;
  }
  .slide-3-list-proj {
    display: flex;
    position: absolute;
  }
  .launch {
    position: absolute;
    margin: 40px;
    font-size: 30px;
  }
  .p {
    display: none
  }
  .slide-3 {
    margin-top: 300px;
  }
  .slide-4 {
    margin-top: 1100px;
    position: absolute;
  }
  .slide-4-final {
    margin-left: 0;
    margin-bottom: 200px;
  }
}

body {
  overflow-x: hidden;
}

body::-webkit-scrollbar {
  width: 0;
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}