@import url('https://fonts.googleapis.com/css2?family=Abel&display=swap');

body {
  font-family: 'Abel', sans-serif;
}

/* .item {
    background: teal;
    min-width: 30px;
    grid-row: 6;
    grid-column: 1 / 6;
} */
.p {
  position: absolute;
  margin-top: 180px;
  font-size: 30px;
  margin-left: 100px;
}

.img-thumbnail {
  background-color: transparent;
  border: 0;
  border-radius: 0;
}

.s2 {
  display: flex;
  flex-wrap: wrap;
}

.designTop {
  position: fixed;;
  right: 0;
  top: -50px;
  transform: rotate(180deg)
}

.designBottom {
  position: fixed;
  left: 0;
  bottom: -40px;
}

.canvas-overlap {
  display: flex;
  position: absolute;
  left:0;
  top:0;
  width:100%;
  height:100%;
  color: #111111;
}

.typewriter {
  font-size: 50px;
  justify-content: center;
  align-items: center;
}

.avatar {
  display: flex;
  align-items: center;
  padding-bottom: 110px;
  flex-wrap: wrap;
}

.downIcon {
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 8px;
}

.message {
  font-size: 25px;
  justify-content: center;
  align-items: flex-end;
  padding-bottom: 80px;
}

.particle-canvas {
  font-size: 50px;
}


.reactjs-coverflow_Main {
  background-color: white;
}

.summary {
  width: 600px;
  height: 180px;
}

.slide-3-list-proj {
  display: none;
}

.launch {
  position: fixed;
  border-radius: 20px;
  background: #0dd95a;
  margin-left: 100px;
  color: white;
  padding: 2px;
  font-size: 17px
}

.slide-4-final {
  margin-left: 300px;
}

@media (max-width: 768px){
  .img {
    width: 0;
    height: 0;
  }
  .design {
    width: 0;
    height: 0;
  }
  .typewriter {
    font-size: 30px;
  }
  .slide-3-list-proj {
    display: flex;
    position: absolute;
  }
  .launch {
    position: absolute;
    margin: 40px;
    font-size: 30px;
  }
  .p {
    display: none
  }
  .slide-3 {
    margin-top: 300px;
  }
  .slide-4 {
    margin-top: 1100px;
    position: absolute;
  }
  .slide-4-final {
    margin-left: 0;
    margin-bottom: 200px;
  }
}

body::-webkit-scrollbar {
  width: 0;
}

.react-rotating-text-cursor {
  animation: blinking-cursor 0.8s cubic-bezier(0.68, 0.01, 0.01, 0.99) 0s infinite;
}

@keyframes blinking-cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.swiper-container {
  width: 100%;
  padding-top: 50px;
  padding-bottom: 50px;
}

.swiper-slide {
  background-position: center;
  background-size: cover;
  width: 300px;
  height: 300px;
}




/* .grid-container {
    display: grid;
    grid-template-rows: .5fr .3fr .3fr .3fr 1.7fr;
    grid-template-columns: .8fr .8fr .8fr .8fr;
}

.design1 {
    grid-row: 1;
    grid-column: 3 / 5;
    transform: rotate(180deg);
}

.design2 {
    position: relative;
    grid-row: 5;
    grid-column: span 3;
    align-self: flex-end;
}

.avatar1 {
    height: 180px;
    grid-row: 2;
}

.greet1 {
    font-size: 60px;
    grid-row: 2;
    grid-column: 2 / 4;
    justify-self: center;
    align-self: end;
}

.greet2 {
    font-size: 70px;
    grid-row: 3;
    grid-column: 2 / 4;
    justify-self: center;
    align-self: start;
}

.connectBtnBase {
    grid-row: 4;
    grid-column: 2;
    justify-self: center;
}

.connectBtn {
    width: 280px;
    height: 50px;
    background: linear-gradient(90deg, rgba(240, 38, 87, 0.65912) 0%, rgba(214, 21, 67, 0.343111) 99.99%, rgba(231, 56, 98, 0) 100%);
    border-radius: 140px;
    font-size: 30px;
}

.abtPageBtnBase {
    grid-row: 4;
    grid-column: 3;
    justify-self: center;
}

.abtPageBtn {
    width: 280px;
    height: 50px;
    background: linear-gradient(90deg, #43F254 0%, rgba(58, 241, 77, 0.750602) 56.5%, rgba(58, 237, 76, 0.54) 105.32%);
    border-radius: 140px;
    font-size: 30px;
}

@media only screen and (max-width: 550px) {
    .grid-container {
        grid-template-rows: 1fr .3fr .3fr .3fr .5fr .5fr;
        grid-template-columns: 1fr;
    }
    .design1 {
        grid-row: 1;
        grid-column: span 3;
    }
    .avatar1 {
        grid-row: 2;
        grid-column: span 2;
        height: 120px;
    }
    .greet1 {
        grid-row: 3;
        font-size: 40px;
        justify-self: center;
    }
    .greet2 {
        grid-row: 4;
        font-size: 40px;
        justify-self: center;
    }
    .connectBtnBase {
        grid-row: 5;
        justify-self: center;
    }
    .abtPageBtnBase {
        grid-row: 6;
        justify-self: center;
    }
} */
